#SERVICE CORE SETTINGS
DOCKERFILE=Dockerfile
SERVICE_NAME=storage
SERVICE_VERSION=1.0.0

#Main service settings
SERVER_HOST=0.0.0.0 #Docker bind address
SERVER_PORT=8080 #Docker internal port or Application port
SERVER_EXTERNAL_PORT=8080 #Docker extrernal compose port
SERVER_READ_TIMEOUT=30
SERVER_WRITE_TIMEOUT=30
SERVER_IDLE_TIMEOUT=120

#Main logger settings
LOG_LEVEL=debug
LOG_OUTPUT=stdout
LOG_FORMAT=console

#CRON settings
CRON_ENABLED=true

#/health endpoint (JSON data)
HEALTH_ENABLED=true

#/docs endpoint (Swagger data)
DOCS_ENABLED=true

#Database settings
DATABASE_TYPE=mongo #OR redis OR clover

#Save logs for changes in DB | Expencive DB size cost
STORAGE_LOG_REQUESTS=false
STORAGE_ARCHIVE_CHANGES=false
STORAGE_TRACK_QUERY_STATS=false
STORAGE_SLOW_QUERY_THRESHOLD_MS=0

#Local mongo settings DATABASE_TYPE=mongo
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=your_secure_password_here
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=your_secure_password_here
MONGO_DATABASE=crm

#Remote (Atlas) mongo settings DATABASE_TYPE=mongo
MONGODB_CONNECTION_STRING=mongodb+srv://admin:your_secure_password_here@mongodb:27017/crm?authSource=admin
MONGODB_TIMEOUT=30
MONGODB_MAX_POOL_SIZE=100
MONGODB_MIN_POOL_SIZE=5
MONGODB_SELECT_TIMEOUT=5
MONGODB_IDLE_TIMEOUT=30
MONGODB_SOCKET_TIMEOUT=30

#Mongo express settings DATABASE_TYPE=mongo
ME_CONFIG_MONGODB_ADMINUSERNAME=admin
ME_CONFIG_MONGODB_ADMINPASSWORD=your_secure_password_here
ME_CONFIG_MONGODB_URL=mongodb://admin:your_secure_password_here@mongodb:27017/
ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=admin

#Redis storage settings DATABASE_TYPE=redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your-redis-password-here
REDIS_DB=redis_db
REDIS_TIMEOUT=30

#CloverDB settings
DATABASE_PATH=/app/data/scheduler.db

#Middlewares settings
MIDDLEWARES_ENABLED=true

#Host auth settings
AUTH_ENABLED=true
AUTH_PROVIDER=token #OR basic OR sai-auth
USERNAME=your-storage-user-here #AUTH_PROVIDER: basic
PASSWORD=your-storage-pass-here #AUTH_PROVIDER: basic
COOKIE_TTL_HOURS=24
TOKEN=your-storage-secret-token-here #AUTH_PROVIDER: token
AUTH_SERVICE_URL=http://sai-auth:8080 #AUTH_PROVIDER: sai-auth | Client for auth service

#CORS middleware
CORS_ENABLED=true
CORS_ALLOWED_ORIGINS='["*"]'
CORS_MAX_AGE=86400

#Logging middleware
LOGGING_ENABLED=true
LOGGING_LOG_LEVEL=debug
LOGGING_LOG_HEADERS=true
LOGGING_LOG_BODY=true

#Autorecovery middleware service
RECOVERY_ENABLED=true
RECOVERY_STACK_TRACE=true
